{% load static %}
<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-dark navbar-primary navigation">
    <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>


    <div class="container-fluid">
        <a href="{% url 'erp:dashboard' %}" class="navbar-brand">
            <img src="{% static 'img/logo.png' %}" alt="AdminLTE Logo"
                 class="brand-image"
                 style="opacity: .8">
            <span class="brand-text font-weight-light">Inmobiliaria El Billon - Residencial Ciudad Verde</span>
        </a>
        <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse order-3" id="navbarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{% url 'erp:dashboard' %}" class="nav-link"><i class="fas fa-home"></i> Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       class="nav-link dropdown-toggle"><i class="fa-solid fa-boxes-packing"></i>  Administración</a>
                    <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                        <li><a href="{% url 'erp:client_list' %}" class="dropdown-item"><i class="fa-regular fa-address-book"></i> Clientes</a></li>
                        <li><a href="{% url 'erp:clientesprospectos_list' %}" class="dropdown-item"><i class="fa-solid fa-user-plus"></i> Clientes Prospectos</a></li>
                        <li><a href="{% url 'erp:listanegra_list' %}" class="dropdown-item"><i class="fa-solid fa-clipboard-list"></i> Lista Negra de Clientes</a></li>
                        <li><a href="{% url 'erp:proveedores_list' %}" class="dropdown-item"><i class="fa-solid fa-address-book"></i> Proveedores</a></li>
                        <li><a href="{% url 'erp:cuentasxcobrar_list' %}" class="dropdown-item"><i class="fa-solid fa-book"></i> Cuentas por Cobrar</a></li>
                        <li><a href="#" class="dropdown-item"><i class="fa-solid fa-briefcase"></i></i> Cuentas por Pagar</a></li>
                        <li><a href="{% url 'erp:movefectivo_list' %}" class="dropdown-item"><i class="fa-solid fa-money-bill-transfer"></i> Movimientos de Efectivo</a></li>
                        <li><a href="{% url 'erp:ctasbancarias_list' %}" class="dropdown-item"><i class="fa-solid fa-vault"></i> Movimientos Ctas. Bancarias</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       class="nav-link dropdown-toggle"><i class="fa-solid fa-dolly"></i>  Operaciones</a>
                    <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                        <li><a href="{% url 'erp:dashboard' %}" class="dropdown-item"><i class="fa-solid fa-tent-arrow-left-right"></i> Ventas</a></li>
                        <li><a href="{% url 'erp:gastos_list' %}" class="dropdown-item"><i class="fa-solid fa-cart-flatbed"></i> Gastos</a></li>
                        <li><a href="{% url 'erp:notascredito_create' %}" class="dropdown-item"><i class="fa-solid fa-diagram-next"></i> Notas de Credito</a></li>
                        <li><a href="{% url 'erp:lotes_list' %}" class="dropdown-item"><i class="fa-solid fa-box-archive"></i> Productos</a></li>
                        <!--<li><a href="{% url 'erp:ventas_list' %}" class="dropdown-item"><i class="fa-solid fa-cart-shopping"></i> Consulta Ventas</a></li>
                        <li><a href="{% url 'erp:compras_list' %}" class="dropdown-item"><i class="fa-solid fa-cart-arrow-down"></i> Compras</a></li>
                        <li><a href="{% url 'erp:devolucioncompra_list' %}" class="dropdown-item"><i class="fa-solid fa-cart-flatbed"></i> Devoluciones de Compras</a></li>-->
                        <li><a href="#" class="dropdown-item"><i class="fa-solid fa-clock"></i> Asistencia</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       class="nav-link dropdown-toggle"><i class="fa-solid fa-magnifying-glass"></i>  Consultas</a>
                    <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                        <li><a href="{% url 'erp:ventas_consulta' %}" class="dropdown-item"><i class="fa-solid fa-cart-shopping"></i> Ventas</a></li>
                        <li><a href="{% url 'erp:ventas_vendedores' %}" class="dropdown-item"><i class="fa-solid fa-user-tie"></i> Resumen Vendedores</a></li>
                        <li><a href="{% url 'erp:ventas_detalle' %}" class="dropdown-item"><i class="fa-solid fa-user-tie"></i> Detalle por Vendedor</a></li>
                        <li><a href="{% url 'erp:gastos_consulta' %}" class="dropdown-item"><i class="fa-solid fa-cart-flatbed"></i> Gastos</a></li>
                        <li><a href="{% url 'erp:notascredito_consulta' %}" class="dropdown-item"><i class="fa-solid fa-diagram-next"></i> Notas de Credito</a></li>
                        <li><a href="{% url 'erp:reservas_consulta' %}" class="dropdown-item"><i class="fa-solid fa-receipt"></i> Reservas</a></li>
                        <li><a href="{% url 'erp:cuotas_consulta' %}" class="dropdown-item"><i class="fa-solid fa-file-invoice-dollar"></i> Cuotas/Pagos Pendientes</a></li>
                        <li><a href="{% url 'erp:comentarios_list' %}" class="dropdown-item"><i class="fa-solid fa-message"></i> Comentarios</a></li>
                    </ul>
                </li>
<!--
                <li class="nav-item dropdown">
                    <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       class="nav-link dropdown-toggle"><i class="fa-solid fa-boxes-stacked"></i>  Inventario</a>
                    <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                        <li><a href="{% url 'erp:product_list' %}" class="dropdown-item"><i class="fa-solid fa-box-archive"></i> Catalogo</a></li>
                        <li><a href="{% url 'erp:historialarticulo_list' %}" target="_blank" class="dropdown-item"><i class="fa-solid fa-file-lines"></i> Historial Articulo</a></li>
                        <li><a href="{% url 'erp:ajusteinventario_list' %}" class="dropdown-item"><i class="fa-solid fa-dolly"></i> Ajuste de Inventario</a></li>
                        <li><a href="{% url 'erp:traspasos_list' %}" class="dropdown-item"><i class="fa-solid fa-boxes-packing"></i> Traspasos</a></li>
                    </ul>
                </li>
-->
                <li class="nav-item dropdown">
                    <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       class="nav-link dropdown-toggle"><i class="fa-solid fa-gears"></i>  Configuración</a>
                    <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                        <li><a href="{% url 'erp:empresa_update' 1 %}" class="dropdown-item"><i class="fa-solid fa-hotel"></i> Empresa</a></li>
                        <li><a href="{% url 'erp:monedas_list' %}" class="dropdown-item"><i class="fa-solid fa-money-bill-1"></i> Monedas</a></li>
                        <li><a href="{% url 'erp:bancos_list' %}" class="dropdown-item"><i class="fa-solid fa-building-columns"></i> Bancos</a></li>
                        <li><a href="{% url 'erp:ctasbancarias_listc' %}" class="dropdown-item"><i class="fa-solid fa-money-check-dollar"></i> Cuentas Bancarias</a></li>
                        <li><a href="{% url 'erp:cajas_list' %}" class="dropdown-item"><i class="fa-solid fa-cash-register"></i> Cajas</a></li>
                        <li><a href="{% url 'erp:formaspago_list' %}" class="dropdown-item"><i class="fa-solid fa-credit-card"></i> Métodos de Pago</a></li>
                        <li><a href="{% url 'erp:unidades_list' %}" class="dropdown-item"><i class="fa-solid fa-pen-ruler"></i> Unidades</a></li>
                        <li><a href="{% url 'erp:depositos_list' %}" class="dropdown-item"><i class="fa-solid fa-warehouse"></i> Depositos</a></li>
                        <li><a href="{% url 'erp:envios_list' %}" class="dropdown-item"><i class="fa-solid fa-truck"></i> Empresas Envíos</a></li>
                        <li><a href="{% url 'user:user_list' %}" class="dropdown-item"><i class="fas fa-users"></i> Usuarios</a></li>
                        <li><a href="{% url 'erp:category_list' %}" class="dropdown-item"><i class="fa-solid fa-rectangle-list"></i> Categorías</a></li>
                        <li><a href="{% url 'erp:gastos_conf' %}" class="dropdown-item"><i class="fa-solid fa-cart-flatbed"></i> Gastos</a></li>
                        <li><a href="{% url 'erp:subgastos_list' %}" class="dropdown-item"><i class="fa-solid fa-dolly"></i> SubGastos</a></li>
                        <li><a href="{% url 'erp:transacciones_list' %}" class="dropdown-item"><i class="fa-solid fa-money-bill-transfer"></i> Transacciones</a></li>
                        <li><a href="{% url 'erp:conceptos_list' %}" class="dropdown-item"><i class="fa-solid fa-book-atlas"></i> Conceptos de Movimientos</a></li>
                        <li><a href="{% url 'erp:tiposdocumentos_list' %}" class="dropdown-item"><i class="fa-solid fa-file-lines"></i> Tipos de Documentos</a></li>
                        <li><a href="{% url 'erp:identifica_list' %}" class="dropdown-item"><i class="fa-solid fa-address-card"></i> Tipos de Identificación</a></li>
                        <li><a href="{% url 'erp:Importar_list' %}" class="dropdown-item"><i class="fa-solid fa-file-arrow-up"></i> Importar Datos</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="{% url 'erp:soporte_list' %}" class="nav-link"><i class="fa-solid fa-computer"></i> Soporte</a>
                </li>
            </ul>
        </div>
        <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
            <li class="nav-item dropdown">
                <img src="{{ request.user.get_image }}" class="img-circle d-block mx-auto" style="width: 30px; height: 30px;" alt="User Image">
                <a class="nav-link" data-toggle="dropdown" href="#">
                     {{ request.user.get_full_name }}
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <span class="dropdown-header" style="font-size: 12px;">
                        Sú último acceso fue {{ request.user.last_login }}
                    </span>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'user:user_profile' %}" class="dropdown-item"><i class="fas fa-edit mr-2"></i> Editar Usuario</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'user:user_change_password' %}" class="dropdown-item"><i class="fas fa-lock mr-2"></i> Editar password</a>
                    {% if request.user.groups.all %}
                        <div class="dropdown-divider"></div>
                        {% if request.session.group  %}
                            <a href="#" class="dropdown-item"><i class="fa-solid fa-user-group"></i> Perfil Seleccionado:  {{ request.session.group }}</a>
                        {% endif %}
                        {% for g in request.user.groups.all %}
                            {% if g.id != request.session.group.id %}
                                <a href="{% url 'user:user_change_group' g.id %}" class="dropdown-item"><i class="fa-solid fa-user-group"></i> Perfil:  {{ g.name }}</a>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">
                    <i class="fas fa-power-off" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>